details {

    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}



/* above nav */
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
  /*border: 1px solid #aaa;*/

    padding: 0.5em;
    
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}


/* above disclousre element */
/*main*/
#main{
  transition: margin-left .5s;
  padding: 10px;
}
/*sidenav2*/

.flex_box {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.tab {
  display: inline-block;
  padding-left: 1em; 
}


.sliderContainer {
  position: relative;
  padding-bottom: 10px;

}

.sliderContainer input[type="range"] {
  width: 100%;
}

.sliderContainer .sliderLabels {
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sliderContainer .label {
  flex-direction: column;

  text-align: center;
  padding-left: 5px;
}


.dropbtn {

  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {fill: #3e8e41;}



.text-row {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Distribute space between elements */  
  z-index: -1; 
  margin-right: 20px;
  margin-left: 50px;
  font-weight: bold;
  font-size: large;
  text-align: center;

}


.end-element {
  margin-right: 50px;
  margin-left: 200px; /* Push the element to the rightmost end */
}

.btn{
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.printbtn:hover {fill: #3e8e41;}

.resetBtn {
  fill: #3e8e41;
}

.resetBtn:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.rotated {
  transform: rotate(90deg); 
}

.splitBtn{
  fill: #3e8e41;
}


/*---------------------------------------------------*/
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}
   
#chart {
  height: 500px;
}
 
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .6 !important;
}


.toggle-op {
  transition: opacity 0.3s ease-in-out;
  opacity : 0.5;
  text-align: center;

    }
.color-box{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  position: relative; /* Enable positioning */
  text-align: center;
  border-radius: 10px;

}
.color-box p {
  position: absolute;
  top: 20%; /* Move the text down 40% from the top */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -20%); /* Adjust to account for centering */
}
.button-box{
  text-align: center;
  border: 2px solid black;
}
.buttonTexts{
  border-radius: 3px;
}
.chart-text{
  text-align: center;
}

.nonDisplay{
  display: none;
}

.maxWidth{
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid #aaa;
  margin-top: 50px;
}

body{
  overflow-x: hidden;
}


.axis path, .axis line{
  stroke-width: 1px;
}

.rightElem{
  font-size: large;
  margin-left: auto;
  margin-right: -20px;
}
.rightElem a:visited{
  font-size: large;
}
.rightElem2{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 5px;
}


.titleFont{
  font-family: Sans-serif,Palatino,serif;
  letter-spacing: 2px;
}

/*-------------------------------------------*/
/*paper area*/

.paperContainer{
  margin-left: 50px;
  margin-right: 20px;
  border: 1px solid #aaa;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.paperTextArea{
  color: #6f6f6f;
  padding: 16px;
}

.paperText2{
  padding-left: 50px;
}

.paperTop{
  font-size: xx-large;
  margin-top: -4px;
  border-bottom: 1px solid #aaa;
  text-align: center;
  line-height: 1.3;
  color: #6c6c6c;
}



.copyBtn{
  fill: #6f6f6f;
}

.copyBtn:hover{
  fill: #3e8e41;
}

.paperList{
  padding-left: 50px;
  padding-right: 50px;
  
  color: black;
  font-size: large;

}

.paperItem {
  display: flex;
  
  align-items: flex-start;  
  color: black;
  font-size: large;
  line-height: 1.3;
}

.doiItem {
  display: flex;
  align-items: center;
  color: black;
  font-size: large;
  line-height: 1.3;
}



.doiLine{
  margin-top: -6px;
}
/*---------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  border: 1px solid #aaa;
  text-align: center;
  padding: 5px 16px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 5%;
  /*margin-left: -60px;*/
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.visuallyhidden{
  position:absolute;
  clip:rect(1px,1px,1px,1px)
}

.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}
#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}
 